#currentImage {
	-moz-box-shadow: 3px 3px 4px #555;
	-webkit-box-shadow: 3px 3px 4px #555;
	box-shadow: 3px 3px 4px #555;
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 180px;
	width: 320px;
}

#text {
	font-size: 29px;
	text-align: center;
}

#startButton {
}

#startButton:hover {
	text-shadow: 1px 1px #aaa;

}